.comeFromLeft {
    animation: slideInFromLeft 2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-5vw); /* Offscreen to the left */
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.comeFromRight {
    animation: slideInFromRight 2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(5vw); /* Offscreen to the right */
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.fadeInReveal {
    animation: fadeInFromTop 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes fadeInFromTop {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
